
#canvas3 {
	position: absolute;
	user-select: none;
	touch-action: none;
    content-zooming: none;
    cursor: crosshair;
    margin-top: 130px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.art333{
    text-align: center;
    padding: 36px;

}